.SearchResults {
  width: 50%;
  height: 995px;
  overflow-y: scroll;
  padding: 2rem 1rem;
  color: var(--text-color);
  background-color: var(--light-purple);
  box-shadow: 0 2px 2px 2px var(--purple);
  border-radius: 25px;
}

.SearchResults h1 {
  font-size: 1.4rem;
  padding: 0 0 10px 0;
  margin: 0;
  border-bottom: 2px solid var(--purple);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}