.Track {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--purple);
}

.Track-action {
  padding: .5rem;
  border: 0px;
  font-size: 1.05rem;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.Track-action:hover {
  color: var(--purple);
  transform: scale(1.1);
}

.Track-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.Track-information h3 {
  font-size: 1.3rem;
  margin-bottom: .22rem;
}

.Track-information p {
  font-size: .90rem;
  font-weight: bold;
  color: var(--text-color);
}

.Track-information span {
  font-weight: bold;
  color: var(--purple);
}