body,
html,
#root {
  height: 100%;
  background-color: #F0EDF6;
}

input::placeholder {
  color: var(--text-color);
  text-align: center;
}

html {
  font-size: 1.125rem;
}

h1 {
  padding: .77rem 0;
  font-family: var(--font-family), sans-serif;
  font-size: 1.88rem;
  text-align: center;
  color: var(--text-color);
}

h1 .highlight {
  color: var(--purple);
}

.App {
  height: 100%;
  padding: 0 15% 10% 15%;
  font-family: var(--font-family), sans-serif;
  font-weight: bold;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}