.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0 7rem 0;
}

.SearchBar input {
  width: 287px;
  padding: .88rem 0;
  margin-bottom: 2rem;
  border-radius: 25px;
  border: 1px solid var(--purple);
  background-color: var(--light-purple);
  color: var(--text-color);
  font-family: var(--font-family);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.SearchBar input:focus-visible {
  outline: 2px solid var(--purple);
}

.SearchBar input::placeholder {
  color: var(--text-color);
  font-family: var(font-family);
}

.SearchButton {
  width: 8rem;
  padding: .77rem 0;
  border: 0px;
  border-radius: 55px;
  background-color: var(--purple);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: .83rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .25s;
}

.SearchButton:hover {
  background-color: var(--light-purple);
  color: var(--text-color);
  outline: 2px solid var(--purple);
}